.root{
    -fx-background-color: #00425F ;
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #e7005d;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-background-radius: 30;
    -fx-padding: 5;
}

.button:hover{
    -fx-background-color: #0ca1b4;
}

.button:pressed{
    -fx-background-color: #007ccc;
}

#playPane{
    -fx-background-color: #333333;
}

#helpPane{
    -fx-background-color: #333333;
}

#statisticsPane{
    -fx-background-color: #333333
}

#spaceAnimationPane{
    -fx-background-image: url("bg.jpg");
}

.chart-plot-background {
    -fx-background-color: #333333;
}
